body {
  background: #ececec !important;
}
.fieldset-1 {
  height: 660px !important;
  padding: 0 !important;
}
.application-form {
  background: #fffffe;
  padding: 30px 60px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1 !important;
  box-shadow: 0 4px 10px #ebebeb;
  border-radius: 0 0 8px 8px !important;
}
.side-by-side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.label-color {
  color: black;
  font-weight: 400;
}
.nice-select .list {
  border-radius: 0px;
  height: 800px !important;
  overflow-y: auto !important;
}

.multi_step_form {
  background: #ececec !important;
  display: block;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 50px;
  min-height: 820px;
  max-width: 1504px;
  margin: 0 auto;

  z-index: 1;
  width: 100%;
}
.multi_step_form #msform .tittle {
  text-align: left !important;
  padding-bottom: 40px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}
.multi_step_form #msform fieldset h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  color: #3f4553;
}
.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
  padding-bottom: 30px;
}
.multi_step_form #msform fieldset .intl-tel-input {
  display: block;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}
.multi_step_form
  #msform
  fieldset
  .intl-tel-input
  .flag-container
  .selected-flag {
  padding: 0 20px;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 65px;
}
.multi_step_form
  #msform
  fieldset
  .intl-tel-input
  .flag-container
  .selected-flag
  .iti-arrow {
  border: 0;
}
.multi_step_form
  #msform
  fieldset
  .intl-tel-input
  .flag-container
  .selected-flag
  .iti-arrow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 24px/7px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset #phone {
  padding-left: 10px;
}

.multi_step_form #msform fieldset .fg_2,
.multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform fieldset .fg_3 {
  padding-bottom: 70px;
}
.multi_step_form #msform fieldset .form-control,
.multi_step_form #msform fieldset .product_select {
  border-radius: 3px;
  border: 1px solid #d8e1e7;
  padding: 0 10px;

  font-size: 16px;
  color: #505050 !important;
  box-shadow: none;
  outline: none;
  width: 100%;
  margin-right: 20px;
  height: 50px;
}
.gender,
.date_of_birth,
.nationality,
.highest_qualification {
  padding: 10px !important;
  color: #bbb !important;
}
.multi_step_form #msform fieldset .form-control.placeholder,
.multi_step_form #msform fieldset .product_select.placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:-moz-placeholder,
.multi_step_form #msform fieldset .product_select:-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-moz-placeholder,
.multi_step_form #msform fieldset .product_select::-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-webkit-input-placeholder,
.multi_step_form #msform fieldset .product_select::-webkit-input-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:hover,
.multi_step_form #msform fieldset .form-control:focus,
.multi_step_form #msform fieldset .product_select:hover,
.multi_step_form #msform fieldset .product_select:focus {
  border-color: #87888785;
}
.multi_step_form #msform fieldset .form-control:focus.placeholder,
.multi_step_form #msform fieldset .product_select:focus.placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus:-moz-placeholder,
.multi_step_form #msform fieldset .product_select:focus:-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-moz-placeholder,
.multi_step_form #msform fieldset .product_select:focus::-moz-placeholder {
  color: transparent;
}
.multi_step_form
  #msform
  fieldset
  .form-control:focus::-webkit-input-placeholder,
.multi_step_form
  #msform
  fieldset
  .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .product_select:after {
  display: none;
}
.multi_step_form #msform fieldset .product_select:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  font: normal normal normal 24px/48px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset .product_select .list {
  width: 100%;
}
.multi_step_form #msform fieldset .done_text {
  padding-top: 40px;
}
.multi_step_form #msform fieldset .done_text .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 10px;
  background: #5cb85c;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .done_text h6 {
  line-height: 23px;
}
.multi_step_form #msform fieldset .code_group {
  margin-bottom: 60px;
}
.multi_step_form #msform fieldset .code_group .form-control {
  border: 0;
  border-bottom: 1px solid #a1a7ac;
  border-radius: 0;
  display: inline-block;
  width: 30px;
  font-size: 30px;
  color: #5f6771;
  padding: 0;
  margin-right: 7px;
  text-align: center;
  line-height: 1;
  height: 50px;
}
.multi_step_form #msform fieldset .passport {
  margin-top: -10px;
  padding-bottom: 30px;
  position: relative;
}
.multi_step_form #msform fieldset .passport .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  position: absolute;
  top: 4px;
  right: 0;
  background: #5cb85c;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .passport h4 {
  font: 500 15px/23px "Roboto", sans-serif;
  color: #5f6771;
  padding: 0;
}
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 40px;
}
.multi_step_form #msform fieldset .input-group .custom-file {
  width: 100%;
  height: auto;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label {
  width: 320px;
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #99a2a8;
  text-align: center;
  transition: all 300ms linear 0s;
  color: #5f6771;
  display: flex;
  align-items: center;
}
.multi_step_form
  #msform
  fieldset
  .input-group
  .custom-file
  .custom-file-label
  i {
  font-size: 20px;
  padding-right: 10px;
}
.multi_step_form
  #msform
  fieldset
  .input-group
  .custom-file
  .custom-file-label:hover,
.multi_step_form
  #msform
  fieldset
  .input-group
  .custom-file
  .custom-file-label:focus {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
}
.multi_step_form #msform fieldset .input-group .custom-file input {
  display: none;
}
.multi_step_form #msform fieldset .file_added {
  text-align: left;
  padding-left: 190px;
  padding-bottom: 60px;
}
.multi_step_form #msform fieldset .file_added li {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset .file_added li a {
  color: #5cb85c;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-left: 15px;
}
.multi_step_form #msform fieldset .file_added li a i {
  font-size: 22px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  transform: rotate(20deg);
}
.multi_step_form #msform #progressbar {
  display: flex;
  margin: 0 !important;
  overflow: hidden;
  background: white;
  padding: 30px;
  border-radius: 8px 8px 0 0 !important;
  border: 1px solid #e1e1e1;
  border-bottom: unset !important;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #444e54;
  width: calc(100% / 3);
  float: left;
  position: relative;
  font-size: 16px;
}
.multi_step_form #msform #progressbar li:nth-child(1):before {
  content: "\f213";
  color: #898787;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  font-family: 'FontAwesome';
  content: "\f19d";
  color: #898787;
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  font-family: 'FontAwesome';
  content: "\f0b1";
  color: #898787;
}
.multi_step_form #msform #progressbar li:nth-child(4):before {
  content: "\f367";
  color: #898787;
}
.multi_step_form #msform #progressbar li:nth-child(5):before {
  content: "\f3fe";
  color: #898787;
}
.multi_step_form #msform #progressbar li.payment:before {
  content: "\f119";
  color: #898787;
}
.multi_step_form #msform #progressbar li.document:before {
  content: "\f367";
  color: #898787;
}

.multi_step_form #msform #progressbar li:before {
  content: "";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #e1e1e1;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: "";
  width: 100%;
  height: 10px;
  background: #e1e1e1;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #7c6576;
}
.multi_step_form #msform #progressbar li.active:before,
.multi_step_form #msform #progressbar li.active:after {
  background: #7c6576;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #7c6576;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font-size: 14px;
  /* border: 1px solid #7c6576; */
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.height-150 {
  height: 150px;
}
.next,
.do-submit {
  width: 180px;
  height: 50px;
  font-size: 16px !important;
}

.previous_button {
  width: 180px;
  height: 50px;
  font-size: 16px !important;
  background-color: #e1e1e1 !important;
  color: #5f6771 !important;
}

.btn-secondary {
  color: #ffffff;
  background-color: #675462;
  border-color: #604e5b;
}
.btn-secondary:hover {
  color: #ffffff;
  background-color: #675462;
  border-color: #604e5b;
}
.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgb(134 142 150 / 50%);
}

.action-button1 {
  background: #7c6576;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
  /* border: 1px solid #5cb85c; */
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 13px;
  font-size: 15px;
}
.action-button1:hover {
  background: #093550;
}

.add-button {
  background: #7c6576;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
  font: 700 12px/40px;
  /* border: 1px solid #5cb85c; */
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 9px;
  font-size: 13px;
}
.add-button:hover {
  background: #0e94de;
}

.previous_button1 {
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
  font: 100 14px/40px;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
  border: none !important;
  background: transparent;
  color: #99a2a8;
  padding: 4px 4px;
  font-size: 15px;
}
.previous_button1:hover {
  background: #dadada;
  /* border-color: #405867; */
  color: #fff;
}

.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover,
.multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}
.custom-file-input {
  min-width: 14rem;
  max-width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}
.table-wrap {
  overflow-x: scroll;
}
.table {
  min-width: 1000px !important;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  text-align: center;
}
.table thead.thead-primary {
  background: #5cb85c;
}
.table thead th {
  border: none;
  padding: 10px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.table tbody tr {
  margin-bottom: 10px;
}
.table tbody th,
.table tbody td {
  width: 20px;
  border: none;
  padding: 10px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
  border-bottom: 2px solid #f8f9fd;
}
.table tbody th.scope {
  background: #e8ebf8;
  border-bottom: 2px solid #e0e5f6;
}
.upload-label {
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #99a2a8;
  text-align: center;
  transition: all 300ms linear 0s;
  color: #5f6771;
  width: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.alert {
  width: 80vw;
  margin: 2rem auto;
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  display: none;
}
@media (min-width: 768px) {
  .table tbody td:nth-child(odd) {
    background: #f4f6fc;
    border-bottom: 2px solid #eceffa;
  }
}

@media (max-width: 768px) {
  .multi_step_form {
    padding: 10px;
  }
  .multi_step_form .fieldset-1.special {
    margin-bottom: 215px;
  }
  .multi_step_form .application-form {
    padding: 30px 8px;
  }
  .multi_step_form #msform #progressbar {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
  }
  .multi_step_form #msform #progressbar li {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .multi_step_form .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
