.nl-error{
    border-color:red;
}
.nl-error-div{
    border:1px solid red;
}
.navbar{
    background:white !important;
}

/*code for fix header*/
.custom_form .login_field input,
.custom_form .value_field input,
.custom_form .login_field select,
.custom_form .value_field select{
    font-size: 15px!important;
    padding: 16px 0px 0px 5px!important;
    display: block!important;
    width: 100%!important;
    border: none !important;
    border-bottom: 1px solid #4E4F53 !important;
    border-radius: 0px!important;
    color: #4E4F53;
}
.custom_form .login_field input:focus,
.custom_form .login_field select:focus{
    outline: none !important;
    box-shadow: none !important;
}
.custom_form .login_field label{
    color: #4E4F53;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 16px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}
.custom_form .value_field label,
.value_field input:valid~label,
.custom_form .login_field input:valid~label,
.custom_form .login_field select:valid~label,
.custom_form .value_field select:valid~label
{
    top: -16px;
    left: 5px;
    color: #4E4F53;
    box-shadow: none !important;
    position: absolute;
    width: 100%;
    font-weight: 400;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}

.custom_form .login_field input:focus~label,
.value_field input:focus~label,
.custom_form .login_field select:focus~label,
.custom_form .value_field select:focus~label
{
    top: -10px;
    font-size: 14px;
    color: #009215;
    box-shadow: none !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all
}
.custom_form .login_field input:focus,
.custom_form .login_field select:focus,
.custom_form .value_field input:focus,
.custom_form .value_field select:focus
{
    border-bottom: 1px solid #009215 !important;
}
.login_field,.value_field {
    margin-bottom: 30px;
}
.login_field input,.value_field input,
.login_field select,.value_field select{
    background: none !important;
    box-shadow: none !important;
}
#topNav {
    z-index:-1;
}

#nav {
  width: 100%;
}

#nav.affix-top {
   /* position: absolute; */
   top:5;
   left:0;
   z-index:10;
   background-color: #FFF;
   border:0;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   background-color: #FFF;
   -webkit-transition: all .6s ease-in-out;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background-color: #FFF;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
/* .scroll-top a:link,.scroll-top a:visited {
  color:#555;
} */

/*#oe_main_menu_navbar {
    position: absolute;
}*/
/*code for fix header*/

/*code for footer*/

/* .hr_form input.form-control,.hr_form select.form-control,.hr_form textarea.form-control{
    border-color: #262626;
    border-radius: 0px !important;
}*/
.hr_form span.input-group-addon{
    border-color: #262626;
    border-radius: 0px !important;
    color: #262626;
}
.hr_form input.form-control:focus,.hr_form select.form-control:focus,.hr_form textarea.form-control:focus{
    border-color: #262626;
    -webkit-box-shadow: none
    box-shadow: none
}
/*.hr_form button{
    background-color: #D9DDE0 !important;
    border-color: #D9DDE0 !important;
    color: #333333 !important;
    border-radius: 0px !important;
}*/
.has-error .form-control {
    border-color: #a94442 !important;
}
.preview p,.preview li{
    padding: 10px;
    background-color: #D9DDE0;
}
.preview ul{
    padding: 0;
}
.form_padding{
    background-color: rgba(217, 221, 224, 0.37);
    padding: 20px;
}

/*code for hamepage*/

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #b93434 !important;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 15%;
    /*left: 1.8%;*/
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

/* .header-text h2 span {
    background-color: #b93434;
    padding: 14px;
}*/

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    border-radius: 0px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #fff;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    background-color: #b93434 !important;
}
div.carousel .carousel-indicators li {
    border: 1px solid rgba(0, 0, 0, 0);
}
.about_para{
    padding-left: 130px;
    padding-right: 130px;
}

.box img{
    border-radius: 50%;
}

/* industry_practices page */

/*  bhoechie tab */
div.bhoechie-tab-container{
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #b93434;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #b93434;
  background-image: #b93434;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #b93434;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    border: 1px solid #ddd;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #b93434;
    background-color: inherit;
    font-weight: 700;
}

.yamm-content a:hover,.yamm-content a:focus {
    color: #b93434;
    text-decoration: none;
    font-weight: 700;
}
.yamm-content li{
    margin-top: 5px;
}
.yamm-content a {
    color: #333;
}

/*subscription*/
/* .input-group {
    margin: 20px auto;
    width: 100%;
}*/
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 70%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*button.btn {
    width: 30%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}*/
.promise {
    color: #999;
}

.box-icon-service {
    background-color: #333333;
    border-radius: 50%;
    display: table;
    height: 150px;
    margin: 0 auto;
    width: 150px;
    margin-top: 60px;
}
.box-icon-service span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.box-icon-service:hover {
    background-color: #b93434;
    cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
        width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100px;
    height: 100px;
        background: white;
}






.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

















/*  */
@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 88%;
  }
}
@-ms-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0.0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.0;
  }
  100% {
    left: 82%;
  }
}

.box {
    background: rgba(165, 158, 158, 0.16);
    border-radius: 3px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 150px;
    margin: 0 auto;
    width: 150px;
    margin-top: -86px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}


.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: #333333;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}

	.event-list > li > time > .day {
		display: block;
        font-size: 20pt;
        font-weight: 500;
	}
	.event-list > li time > .month {
        display: block;
        font-size: 20pt;
        font-weight: 500;
	}
	.event-list > li time > .year {
        display: block;
        font-size: 20pt;
        font-weight: 500;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 12pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 10pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	}
    .event-list > li > .social > ul > li {
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	}
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook a,.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter a,,.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus a,.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 105px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}
		.event-list > li > .info > .title,
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}

.box-service :hover{

}
.box-service img{
    border-radius: 50%;
    width: 200px;
    height: 150px;
}





















/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    /*height: 100%;*/
    /*Image only BG fallback*/
    
    /*background = gradient + image pattern combo*/
    /*background: 
        linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
    font-family: montserrat, arial, verdana;
}
/*form styles*/
.msform {
    /*width: 800px;*/
    margin: 50px auto;
    text-align: center;
    position: relative;
}
.msform .form_border {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
    /*padding: 20px 30px;*/
    box-sizing: border-box;
    /*width: 80%;*/
    /*margin: 0 10%;*/
    
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
.msform input, .msform textarea,  .msform select{
    /*padding: 20px;*/
    /*border: 1px solid #ccc !important;*/
    border-radius: 3px;
    /*margin-bottom: 10px;*/
    width: 100%;
    box-sizing: border-box;
    /*font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;*/
}
/*buttons*/
.msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}


.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    /*padding-top: 17px !important;*/
}









.form-header-group {
    background-image: url(/job_portal/static/src/img/apply_now_bannerHeader.jpg);
}
.header-text {
    padding: 10px;
    padding-left: 36px;
    background: rgba(48, 44, 37, 0.55);
    width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.htvam {
    vertical-align: middle;
}
.httal {
    text-align: left;
}
h2.form-header {
    line-height: 1.618em;
    font-size: 1.714em;
    font-weight: bold;
}
h2 ~ .form-subHeader {
    line-height: 1.5em;
    font-size: 1.071em;
}

.page_bg{
    background-color: #efefed;
}

.o_website_form_required .control-label:after, .o_website_form_required_custom .control-label:after {
    content: ' *';
    font-weight: normal;
    color: red;
    font-size: 16px;
}

/*To add red color to the required fields on the form*/
.color_red{
  color:#d9534f;
  font-size: 0.6em;
}

/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/